In [1]:
#Installation as per requirement
!pip install fastparquet
!pip install gcsfs
!pip install s3fs

Collecting fastparquet
  Downloading https://files.pythonhosted.org/packages/58/49/dccb790fa17ab3fbf84a6b848050083c7a1899e9586000e34e3e4fbf5538/fastparquet-0.3.2.tar.gz (151kB)
     |████████████████████████████████| 153kB 3.3MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.19 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from fastparquet) (0.25.0)
Requirement already satisfied: numba>=0.28 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from fastparquet) (0.45.1)
Requirement already satisfied: numpy>=1.11 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from fastparquet) (1.16.4)
Collecting thrift>=0.11.0 (from fastparquet)
  Downloading https://files.pythonhosted.org/packages/c6/b4/510617906f8e0c5660e7d96fbc5585113f83ad547a3989b80297ac72a74c/thrift-0.11.0.tar.gz (52kB)
     |████████████████████████████████| 61kB 17.8MB/s eta 0:00:01
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from fastparquet) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.19->fastparquet) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.19->fastparquet) (2019.2)
Requirement already satisfied: llvmlite>=0.29.0dev0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from numba>=0.28->fastparquet) (0.29.0)
Building wheels for collected packages: fastparquet, thrift
  Building wheel for fastparquet (setup.py) ... done
  Created wheel for fastparquet: filename=fastparquet-0.3.2-cp37-cp37m-linux_x86_64.whl size=260871 sha256=22ec60ac41a6971c688544601d967f7006856ed1e6797a75d0c6127655c0cf22
  Stored in directory: /home/jovyan/.cache/pip/wheels/b9/36/13/01416a760ddcab0eb8281ec9c9ffcbed945c9b831647c8b904
  Building wheel for thrift (setup.py) ... done
  Created wheel for thrift: filename=thrift-0.11.0-cp37-cp37m-linux_x86_64.whl size=390647 sha256=558890364788031e5286fc73a061a6c1c13f437a6558f0f7036c3269b40f9840
  Stored in directory: /home/jovyan/.cache/pip/wheels/be/36/81/0f93ba89a1cb7887c91937948519840a72c0ffdd57cac0ae8f
Successfully built fastparquet thrift
Installing collected packages: thrift, fastparquet
Successfully installed fastparquet-0.3.2 thrift-0.11.0
Collecting gcsfs
  Downloading https://files.pythonhosted.org/packages/32/bf/a105dffbbebd60662bf95c550bb74e4236ca28e77c06735cf6ec11577d0e/gcsfs-0.3.0-py2.py3-none-any.whl
Collecting google-auth>=1.2 (from gcsfs)
  Downloading https://files.pythonhosted.org/packages/c5/9b/ed0516cc1f7609fb0217e3057ff4f0f9f3e3ce79a369c6af4a6c5ca25664/google_auth-1.6.3-py2.py3-none-any.whl (73kB)
     |████████████████████████████████| 81kB 6.9MB/s eta 0:00:011
Requirement already satisfied: decorator in /srv/conda/envs/notebook/lib/python3.7/site-packages (from gcsfs) (4.4.0)
Requirement already satisfied: requests in /srv/conda/envs/notebook/lib/python3.7/site-packages (from gcsfs) (2.22.0)
Requirement already satisfied: fsspec>=0.2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from gcsfs) (0.4.1)
Collecting google-auth-oauthlib (from gcsfs)
  Downloading https://files.pythonhosted.org/packages/74/a2/1323b1bce9935ac948cd4863509de16cf852cd80b12dd29e648c65fea93d/google_auth_oauthlib-0.4.0-py2.py3-none-any.whl
Collecting rsa>=3.1.4 (from google-auth>=1.2->gcsfs)
  Downloading https://files.pythonhosted.org/packages/02/e5/38518af393f7c214357079ce67a317307936896e961e35450b70fad2a9cf/rsa-4.0-py2.py3-none-any.whl
Collecting cachetools>=2.0.0 (from google-auth>=1.2->gcsfs)
  Downloading https://files.pythonhosted.org/packages/2f/a6/30b0a0bef12283e83e58c1d6e7b5aabc7acfc4110df81a4471655d33e704/cachetools-3.1.1-py2.py3-none-any.whl
Requirement already satisfied: six>=1.9.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from google-auth>=1.2->gcsfs) (1.12.0)
Collecting pyasn1-modules>=0.2.1 (from google-auth>=1.2->gcsfs)
  Downloading https://files.pythonhosted.org/packages/be/70/e5ea8afd6d08a4b99ebfc77bd1845248d56cfcf43d11f9dc324b9580a35c/pyasn1_modules-0.2.6-py2.py3-none-any.whl (95kB)
     |████████████████████████████████| 102kB 32.2MB/s ta 0:00:01
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->gcsfs) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->gcsfs) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests->gcsfs) (1.25.3)
Collecting requests-oauthlib>=0.7.0 (from google-auth-oauthlib->gcsfs)
  Downloading https://files.pythonhosted.org/packages/c2/e2/9fd03d55ffb70fe51f587f20bcf407a6927eb121de86928b34d162f0b1ac/requests_oauthlib-1.2.0-py2.py3-none-any.whl
Collecting pyasn1>=0.1.3 (from rsa>=3.1.4->google-auth>=1.2->gcsfs)
  Downloading https://files.pythonhosted.org/packages/6a/6e/209351ec34b7d7807342e2bb6ff8a96eef1fd5dcac13bdbadf065c2bb55c/pyasn1-0.4.6-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 30.3MB/s eta 0:00:01
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.0.1)
Installing collected packages: pyasn1, rsa, cachetools, pyasn1-modules, google-auth, requests-oauthlib, google-auth-oauthlib, gcsfs
Successfully installed cachetools-3.1.1 gcsfs-0.3.0 google-auth-1.6.3 google-auth-oauthlib-0.4.0 pyasn1-0.4.6 pyasn1-modules-0.2.6 requests-oauthlib-1.2.0 rsa-4.0
Collecting s3fs
  Downloading https://files.pythonhosted.org/packages/b5/ab/73a1a04442e480ba8830f9751fa6c438691cbf34a1ebb16267e47eb90984/s3fs-0.3.3.tar.gz (45kB)
     |████████████████████████████████| 51kB 2.4MB/s eta 0:00:011
Collecting boto3>=1.9.91 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/54/af/5fd15d2273a44ec915ffed2b9c32eaddeea0036e931ae43e7c26cf675bf4/boto3-1.9.210-py2.py3-none-any.whl (128kB)
     |████████████████████████████████| 133kB 10.0MB/s eta 0:00:01
Collecting botocore>=1.12.91 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/a8/02/1b48bdbc12021cbe68b14fdc8f666fc2edf5b0f096965b71a3f1d05c5dca/botocore-1.12.210-py2.py3-none-any.whl (5.7MB)
     |████████████████████████████████| 5.7MB 41.8MB/s eta 0:00:01
Requirement already satisfied: fsspec>=0.2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from s3fs) (0.4.1)
Collecting s3transfer<0.3.0,>=0.2.0 (from boto3>=1.9.91->s3fs)
  Downloading https://files.pythonhosted.org/packages/16/8a/1fc3dba0c4923c2a76e1ff0d52b305c44606da63f718d14d3231e21c51b0/s3transfer-0.2.1-py2.py3-none-any.whl (70kB)
     |████████████████████████████████| 71kB 26.6MB/s eta 0:00:01
Collecting jmespath<1.0.0,>=0.7.1 (from boto3>=1.9.91->s3fs)
  Downloading https://files.pythonhosted.org/packages/83/94/7179c3832a6d45b266ddb2aac329e101367fbdb11f425f13771d27f225bb/jmespath-0.9.4-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from botocore>=1.12.91->s3fs) (2.8.0)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version >= "3.4" in /srv/conda/envs/notebook/lib/python3.7/site-packages (from botocore>=1.12.91->s3fs) (1.25.3)
Collecting docutils<0.16,>=0.10 (from botocore>=1.12.91->s3fs)
  Downloading https://files.pythonhosted.org/packages/22/cd/a6aa959dca619918ccb55023b4cb151949c64d4d5d55b3f4ffd7eee0c6e8/docutils-0.15.2-py3-none-any.whl (547kB)
     |████████████████████████████████| 552kB 51.4MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1; python_version >= "2.7"->botocore>=1.12.91->s3fs) (1.12.0)
Building wheels for collected packages: s3fs
  Building wheel for s3fs (setup.py) ... done
  Created wheel for s3fs: filename=s3fs-0.3.3-py2.py3-none-any.whl size=18035 sha256=391dbf79767fdf0d5b3f57dddade15800a232b01d67195038588da5ccb94ca0a
  Stored in directory: /home/jovyan/.cache/pip/wheels/c0/18/ee/4a30c59f5c46f5000f10cfcc10a992e41eb29a5f661ab2b931
Successfully built s3fs
Installing collected packages: jmespath, docutils, botocore, s3transfer, boto3, s3fs
Successfully installed boto3-1.9.210 botocore-1.12.210 docutils-0.15.2 jmespath-0.9.4 s3fs-0.3.3 s3transfer-0.2.1

In [2]:
#Start Dask Client for Dashboard-number of workers=10
from dask.distributed import Client, progress
client = Client(threads_per_worker=1, 
                n_workers=10,
                memory_limit='2GB')
client

In [3]:
#Importing libraries and reading data
import dask.dataframe as db
import gcsfs
ff=db.read_parquet('gcs://anaconda-public-data/nyc-taxi/nyc.parquet/part.0.parquet',engine='fastparquet')

In [4]:
ff.head()

,tpep_pickup_datetime,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2015-01-01 00:00:00,1,2015-01-01 00:11:26,5,4.00,-73.971436,40.760201,1,N,-73.921181,40.768269,2,13.5,0.5,0.5,0.0,0.0,0.0,14.5
1,2015-01-01 00:00:00,2,2015-01-01 00:00:00,1,1.68,-73.991547,40.750069,1,N,0.000000,0.000000,2,10.0,0.0,0.5,0.0,0.0,0.3,10.8
2,2015-01-01 00:00:00,2,2015-01-01 00:00:00,3,1.56,-74.001320,40.729057,1,N,-74.010208,40.719662,1,7.5,0.5,0.5,0.0,0.0,0.3,8.8
3,2015-01-01 00:00:01,1,2015-01-01 00:03:49,1,0.80,-73.860847,40.757294,1,N,-73.868111,40.752285,2,5.0,0.5,0.5,0.0,0.0,0.0,6.3
4,2015-01-01 00:00:03,2,2015-01-01 00:21:48,2,2.57,-73.969017,40.754269,1,N,-73.994133,40.761600,2,14.5,0.5,0.5,0.0,0.0,0.3,15.8

In [5]:
import dask.dataframe as dd
df = dd.read_csv('s3://nyc-tlc/misc/taxi _zone_lookup.csv',storage_options={'anon': True, 'use_ssl': False})

In [6]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
#taking out the required variable i.e time as string
ff['pickup_hour']=ff['tpep_pickup_datetime'].astype(str).apply(lambda x: x[11:13],meta='str')

ff['dropoff_hour']=ff['tpep_dropoff_datetime'].astype(str).apply(lambda x: x[11:13],meta='str')

In [8]:
ff.pickup_hour.value_counts().compute()

00    57167
01    54658
02    45702
18    41090
19    39712
15    38708
14    38254
17    38191
03    37813
13    36471
12    35834
22    35727
10    35311
20    35170
16    34825
21    34412
23    32698
09    32219
11    30869
04    26768
08    24440
07    19483
06    16568
05    15379
Name: pickup_hour, dtype: int64

In [10]:
#above table shows the no. of pickups per hour in 24 hours

In [11]:
#similar like above but dropoffs
ff.dropoff_hour.value_counts().compute()

01    56039
00    51182
02    47873
18    40786
19    40772
03    39491
15    38593
14    37462
17    37075
13    36030
16    35892
10    35854
20    35848
22    35498
12    35118
21    34468
23    33211
09    30973
11    30107
04    29740
08    23563
07    19131
05    16558
06    16205
Name: dropoff_hour, dtype: int64

In [12]:
#So therefore we conclude that Peak hours were around 00 i.e. 12 am-1 am
#and off peak hours were around 5am-6am